@model Models.Custom.ForgotPassword

@{
    Layout = null;
}
<meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no, minimum-scale=1.0" />
<title>Matrimonial, Marriage, Matrimony Site – ekvivaah.com</title>
<link rel="icon" href="~/images/favicon.png" type="image/png" sizes="16x16">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">
<link href="~/Content/Mobile.css?rd=1" rel="stylesheet" />
@Styles.Render("~/bundles/css")


<div class="user_title Profile">
    <p>Forgot Password</p>
</div>
<div id="dvValidationMessage" style="margin-top:0;">
</div>
<div id="dvOTP">
    <div class="maching-body details">
        <ul>
            <li>
                <strong>Enter Mobile Number</strong>
                <div class="picuser"><img alt="ek vivaah " src="/images/smartphone.svg"> </div>
                <input type="text" id="txtMobileNo" placeholder="Enter Mobile Number" />
            </li>
        </ul>
    </div>
    <div class="ac">
        <input type="button" id="btnForgotPasswordOTP" value="Send OTP" onclick="SendForgotPasswordOTP();" class="form-control btn-primary ac" />
    </div>
</div>
<div id="dvForgotPwd" style="display:none;">
    <div class="maching-body details">
        <ul>
            <li>
                <input type="password" id="txtPassword" placeholder="Enter New Password" />
            </li>
            <li>
                <input type="password" id="txtConfirmPassword" placeholder="Enter Confirm Password" />
            </li>
            <li>
                <input type="text" id="txtOTP" placeholder="Enter OTP" />
            </li>
        </ul>
    </div>
    <div class="ac">
        <input type="button" id="btnSubmit" value="Submit" class="form-control btn-primary ac" onclick="ChangePassword();" />
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/CustomJs/common.js"></script>
<script src="~/Scripts/CustomJs/ForgotPassword.js"></script>





