.fl {
    float: left;
}

.fr {
    float: right;
}

.ac {
    text-align: center;
}

.caps {
    text-transform: capitalize;
}

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

.btn-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 7px #a5a2a2;
    font-size: 18px;
    color: #ff083a;
    text-transform: uppercase;
    font-weight: 500;
    z-index: 999;
    background: #fff;
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

/*input[type=radio]:checked + label > img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #090;
}*/

.red-bg {
    background: url('images/male-female.jpg') no-repeat;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] {
    display: none;
}

/*input[type=radio] + label > img {
    border: 1px dashed #444;
    width: 150px;
    height: 150px;
    transition: 500ms all;
}

input[type=radio]+label span {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  background:url('placekitten.com/150/150') left top no-repeat;
  background-size: 100px 75px;
}*/

input[type="radio"] + label {
    width: 150px;
    height: 150px;
    display: inline-block;
    padding: 0 0 0 0px;
}

input[type="radio"]:checked + label {
    width: 150px;
    height: 150px;
    display: inline-block;
    padding: 0 0 0 0px;
    transform: rotateZ(-10deg) rotateX(10deg);
}

/*input[type=radio]:checked + label > img {
    transform: rotateZ(-10deg) rotateX(10deg);
}*/
