.fl {
    float: left;
}

.fr {
    float: right;
}

.ac {
    text-align: center;
}

.caps {
    text-transform: capitalize;
}

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

.btn-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 7px #a5a2a2;
    font-size: 18px;
    color: #ff083a;
    text-transform: uppercase;
    font-weight: 500;
    z-index: 999;
    background: #fff;
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

.red-bg {
    background: url('images/male-female.jpg') no-repeat;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] {
    display: none;
}

input[type="radio"] + label {
    width: 150px;
    height: 150px;
    display: inline-block;
    padding: 0 0 0 0px;
}

input[type="radio"]:checked + label {
    width: 150px;
    height: 150px;
    display: inline-block;
    padding: 0 0 0 0px;
    transform: rotateZ(-10deg) rotateX(10deg);
}

.ProfilePic{
    margin: 0px 0 0 15px;
    float: left;
    width: 80px;
    height: 80px;
    top: 10px;
    left: 10px;
    border: 2px solid #e60a0a;
    display: flex;
    align-items: center;
    border-radius: 110px;
    overflow: hidden;
    box-shadow: 0px 0px 7px 1px rgb(0, 0, 0);
}

.MatchingProfilePic{
    margin: 0px 0 0 15px;
    float: left;
    width: 180px;
    height: 180px;
    top: 10px;
    left: 10px;
    border: 1px solid #e60a0a;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 7px 1px rgb(0, 0, 0);
}

img{
    max-width:100%;
}