@{
    Layout = null;
    ViewBag.Title = "Matrimonial, Marriage, Matrimony Site – ekvivaah.com";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--title-->
    <title>Matrimonial, Marriage, Matrimony Site – ekvivaah.com</title>
    <meta name="description" content="ekvivaah.com is a leading matrimony site for Indian brides, grooms looking for marriage. Search your life partner from verified profiles of all communities, castes, professions matching your choice" />
    <meta name="keywords" content="matrimony, India matrimonial, matrimonial sites, marriage, wedding, matrimonial services, ekvivaah" />
    <link rel="icon" href="images/favicon.png" type="image/png" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">

    @Styles.Render("~/bundles/CustomCss")
    @*
    <link rel="stylesheet" href="css/themify-icons.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">    <!-- custom css -->
    <link href="css/style.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/main.css">*@
    @*<link rel="stylesheet" href="Content/CustomCss/themify-icons.css"/>
    <link rel="stylesheet" href="Content/CustomCss/bootstrap.min.css" />
    <link rel="stylesheet" href="Content/CustomCss/style.css" />
    <link rel="stylesheet" href="Content/CustomCss/style1.css" />
    <link rel="stylesheet" href="Content/CustomCss/swiper.min.css" />
    <link rel="stylesheet" href="Content/CustomCss/main.css" />*@
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="loader"></div>
    </div>
    <!--end preloader-->
    <div id="main" class="main-content-wraper">
        <div class="main-content-inner">
            <!--start header section-->
            <header class="header">
                <!--start navbar-->
                <div class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="row">
                            <div class="navbar-header page-scroll">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#myNavbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand page-scroll" href="index.html">
                                    <img src="images/logo.png" alt="logo" class="img-responsive">
                                </a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="navbar-collapse collapse" id="myNavbar">

                                <div class="download-app-button text-center">
                                    <a href="#" class="download-btn hover-active">
                                        <img class="w-100" src="images/playstore.png" alt="screenshot">
                                    </a>
                                    <a href="#" class="download-btn hover-active">
                                        <img class="w-100" src="images/appstore.png" alt="screenshot">
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--end navbar-->
            </header>
            <!--end header section-->
            <!--start hero section-->
            <section id="hero" class="section-hero section-rotate">
                <div class="section-inner" style="background: url('images/hero-bg-1.jpg')no-repeat center center / cover"></div>
                <!--background circle shape-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="hero-content-wrap-1">
                                <div class="hero-content">

                                    <h1> The best rated matrimonial<span> app for is here</span></h1>

                                    <p>
                                        Accept profile see all contact details  <br>
                                        Now access quick & simple search, instant updates and a great user experience on your Android phone
                                    </p>
                                    <div class="slider-action-btn">
                                        <div class="download-app-button text-center">
                                            <a href="https://play.google.com/store/apps/details?id=com.ekvivaah" target="_blank" class="download-btn hover-active">
                                                <img class="w-100" src="images/playstore.png" alt="screenshot">
                                            </a>
                                            <a href="#" class="download-btn hover-active">
                                                <img class="w-100" src="images/appstore.png" alt="screenshot">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="hero-product-img">
                                <div class="offer-badge">
                                    <p><strong>Free</strong> App</p>
                                </div>
                                <div class="hero-img-1">
                                    <img src="images/top-img-1.png" alt="hero-img" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--end hero section-->

            <section class="download-section ptb-90">
                <div class="bg_video">
                    <video width="100%" loop autoplay muted controls id="vid">
                        <source src="images/video/Hearts.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 reli">
                            <div class="couple_img">
                                <img class="w-100" src="images/couple.png" alt="screenshot">
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <div class="tect_padi">
                                <div class="download-app-text section-heading text-center">
                                    <h3>Get The App Now !</h3>
                                    <p>
                                        Happiness is Just an App Away!<br>
                                        Find your right match with ekvivaah.com
                                    </p>
                                </div>
                                <div class="download-app-button text-center">
                                    <a href="https://play.google.com/store/apps/details?id=com.ekvivaah" class="download-btn hover-active" target="_blank">
                                        <img class="w-100" src="images/playstore.png" alt="screenshot">
                                    </a>
                                    <a href="#" class="download-btn hover-active">
                                        <img class="w-100" src="images/appstore.png" alt="screenshot">
                                    </a>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </section>

            <!--start promo section-->
            <section id="screenshots" class="screenshots-section bg-grey padding">
                <div class="container">
                    <div class="section-heading mb-60 text-center">
                        <h2>Screenshots</h2>
                        <p>Is amazing, modern and clean landing page for showcase <br> your app anything else.</p>
                    </div>
                    <div class="swiper-container">
                        <div class="mobile-mock">
                            <div class="screen"></div>
                            <div class="circle"></div>
                        </div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="w-100" src="images/screenshot-1.jpg" alt="screenshot">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-100" src="images/screenshot-2.jpg" alt="screenshot">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-100" src="images/screenshot-3.jpg" alt="screenshot">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-100" src="images/screenshot-4.jpg" alt="screenshot">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-100" src="images/screenshot-5.jpg" alt="screenshot">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-100" src="images/screenshot-6.jpg" alt="screenshot">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-100" src="images/screenshot-7.jpg" alt="screenshot">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-100" src="images/screenshot-8.jpg" alt="screenshot">
                            </div>
                        </div>
                        <!-- Carousel Arrows -->
                        <div class="swiper-next"><i class=" arrow_carrot-right"></i></div>
                        <div class="swiper-prev"><i class=" arrow_carrot-left"></i></div>
                    </div>
                </div>
            </section><!-- Screenshots Section -->
            <!--end download section-->
            <section id="hero" class="section-lg section-hero section-circle">
                <!--background circle shape-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="hero-content-wrap">
                                <div class="hero-content">
                                    <h1>About  ekvivaah.com</h1>
                                    <p> ekvivaah.com  is a leading Indian matrimonial matchmaking service provider. We offer trusted & authentic matrimonial profiles for those who are looking for Indian brides and grooms for marriage. Our team is committed to provide 360 degree solutions to all prospective Indian brides and grooms for marriage.</p>
                                    <div class="slider-action-btn">
                                        <a href="https://play.google.com/store/apps/details?id=com.ekvivaah" target="_blank" class="page-scroll btn softo-solid-btn"> Download App</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="hero-product-img">

                                <div class="hero-img-1">
                                    <img src="images/image-08.png" alt="hero-img" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-shape">
                    <img src="images/waves-shape.svg" alt="shape image">
                </div>
            </section>

            <section class="promo-section ptb-90 " style="background:#f03e3e">
                <div class="promo-section-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="bg-secondary single-promo-section text-center">
                                    <div class="single-promo-content">
                                        <span class="ti-palette"></span>
                                        <h6>40+ Languages</h6>
                                        <p>Offering Multilingual Choices</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="bg-secondary single-promo-section text-center">
                                    <div class="single-promo-content">
                                        <span class="ti-github"></span>
                                        <h6>480+ Castes</h6>
                                        <p>Within India & Abroad</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="bg-secondary single-promo-section text-center">
                                    <div class="single-promo-content">
                                        <span class="ti-location-pin"></span>
                                        <h6>2900+ Cities</h6>
                                        <p> Across 4 countries of operation</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="bg-secondary single-promo-section text-center">
                                    <div class="single-promo-content">
                                        <span class="ti-location-pin"></span>
                                        <h6>1 Countries</h6>
                                        <p> Connecting beyond borders.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="browse-matrimonial">
                <div class="wrapper desktop-view">
                    <h3 class="text-center">Browse Matrimonial Profiles By</h3>
                    <ul>
                        <li class="heading">Religion:</li>
                        <li><a href="#">Hindu</a></li>
                        <li><a href="#">Jain</a></li>
                        <li><a href="#">Muslim </a></li>
                        <li><a href="#">Christian</a></li>
                        <li><a href="#">Sikh</a></li>
                        <li><a href="#">Parsi</a></li>
                        <li><a href="#">Buddhist</a></li>
                        <li><a href="#">Jewish </a></li>
                    </ul>

                    <ul>
                        <li class="heading">Caste:</li>
                        <li><a href="#">Agarwal </a></li>
                        <li><a href="#">Gupta </a></li>
                        <li><a href="#">Arora </a></li>
                        <li><a href="#">Baniya </a></li>
                        <li><a href="#">Brahmin</a></li>
                        <li><a href="#">Jat </a></li>
                        <li><a href="#">Kayastha </a></li>
                        <li><a href="#">Khatri </a></li>
                        <li><a href="#">Rajput </a></li>
                        <li><a href="#">Sunni </a></li>


                    </ul>
                    <ul>
                        <li class="heading">State:</li>

                        <li><a href="">Delhi</a></li>
                        <li><a href="">Chandigarh</a></li>
                        <li><a href="">Gujarat</a></li>
                        <li><a href="">Haryana</a></li>
                        <li><a href="">Karnataka</a></li>
                        <li><a href="">Maharashtra</a></li>
                        <li><a href="#">Punjab</a></li>
                        <li><a href="#">Rajasthan</a></li>
                        <li><a href="#">Uttar Pradesh</a></li>
                        <li><a href="#">West Bengal</a></li>
                        <li><a href="#">Telangana</a></li>
                        <li><a href="#">Madhya Pradesh</a></li>
                        <li><a href="#">Andhra Pradesh</a></li>
                        <li><a href="#">Tamil Nadu</a></li>
                        <li><a href="#">Kerala </a></li>

                    </ul>
                    <ul>
                        <li class="heading">Regional:</li>
                        <li><a href="#">Bengali</a></li>
                        <li><a href="#">Gujarati</a></li>
                        <li><a href="#">Hindi</a></li>
                        <li><a href="#">Kannada</a></li>
                        <li><a href="#">Malayalam</a></li>
                        <li><a href="#">Marathi</a></li>
                        <li><a href="#">Punjabi</a></li>
                        <li><a href="#">Tamil</a></li>
                        <li><a href="#">Telugu</a></li>
                        <li><a href="#">Urdu</a></li>
                    </ul>
                    <ul>
                        <li class="heading">Country:</li>

                        <li><a href="#">India</a></li>

                    </ul>
                </div>

            </section>

            <!--contact us section end-->
            <!--start footer section-->
            <footer class="footer-section bg-secondary ptb-40">
                <div class="footer-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="footer-single-col text-center">
                                    <div class="footer-social-list">
                                        <ul class="list-inline">
                                            <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"> <i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"> <i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"> <i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"> <i class="fa fa-youtube"></i></a></li>
                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!--end footer section-->
        </div><!--end main content inner-->
    </div>
    <!--end main container -->
    <!--=========== all js file link ==============-->
    <!-- main jQuery -->
    @Scripts.Render("~/bundles/CustomJs")
    <script type="text/javascript" src="http://static.dudamobile.com/DM_redirect.js"></script>
    @*<script type="text/javascript">DM_redirect("https://play.google.com/store/apps", true);</script>*@
    <script type="text/javascript">DM_redirect(window.origin + "/MobileApp/Login/MobileIndex", true);</script>	

</body>

</html>
