@model Models.Custom.UserMaster


<li>
    <strong>Profile ID </strong>:
    @Html.TextBoxFor(m => m.ProfileId, htmlAttributes: new { @id = "txtProfileId", @placeholder = "Enter Profile ID" })
</li>


