@model Models.Custom.UserMaster

@{
    ViewBag.Title = "Search Profile";
}

<script src="~/Scripts/CustomJs/ManageUser.js?rd=1"></script>
<style>
#btnSearch {width: 98%;margin: 8px auto; float: none;text-transform: uppercase;font-weight: 500;font-size: 18px;}
.action_sction { padding: 0;margin: 0;clear: both;overflow: hidden;border-top: 1px solid #ddd;width: 100%;text-align: center;}

.details ul li {overflow: hidden; padding-bottom: 16px; }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="user_title Profile">
        <div class="back-arow"><a href="#"><img alt="ek vivaah" src="/images/back.svg"></a></div>
        <p>Search Profile</p>
    </div>
    <div id="divMessage"></div>
    <div class="maching-body details">
        <ul>
            <li>
                
                @Html.TextBoxFor(m => m.ProfileId, htmlAttributes: new { @id = "txtProfileId", @placeholder = "Enter Profile ID" })
            </li>
        </ul>
    </div>
    <div class="ac">
        <input type="button" id="btnSearchById" value="Search" class="form-control btn-primary ac" />
    </div>
}



