@model Areas.Models.UserPreference
@{
    ViewBag.Title = "UserPreferences";
}

<script src="~/Scripts/CustomJs/ManageUser.js?rd=@ViewBag.JSRefNo"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="user_title Profile">
        <div class="back-arow"> <a href="#">  <img alt="ek vivaah " src="/images/back.svg"> </a></div>
        <p>Desired Partner Profile</p>
    </div>
    <div class="table">
        <div>

            <div class="user_title">
                <span><img alt="matrimonial ek vivaah" src="/images/user.svg"></span>
                <p> Preferences</p>
                <a onclick="EditUserPreference(this);">Edit</a>
            </div>
            <div class="details" id="divUserPreference">
                @Html.Partial("_SetPreference", Model)
            </div>

        </div>
    </div>
                            }
